langchain
langchain_community
langchain-openai
langchain-groq
langchain-google-genai
python-dotenv
langchain_core
langchain_huggingface
tools
streamlit
langchain_chroma
langchain_classic
langchain-text-splitters
faiss-cpu
langchain_huggingface
sentence_transformers
torchvision
fastapi
uvicorn
langserve
sse_starlette
pypdf
bs4
arxiv
unstructured
pdf2image
pytesseract